@font-face{font-family:"Plex";src:url(data:font/woff2;base64,__F_SANS400__) format("woff2");font-weight:400;font-style:normal}
@font-face{font-family:"Plex";src:url(data:font/woff2;base64,__F_SANS600__) format("woff2");font-weight:600;font-style:normal}
@font-face{font-family:"Plex";src:url(data:font/woff2;base64,__F_SANS700__) format("woff2");font-weight:700;font-style:normal}
@font-face{font-family:"PlexThai";src:url(data:font/woff2;base64,__F_THAI400__) format("woff2");font-weight:400;font-style:normal}
@font-face{font-family:"PlexThai";src:url(data:font/woff2;base64,__F_THAI600__) format("woff2");font-weight:600;font-style:normal}
@font-face{font-family:"PlexMono";src:url(data:font/woff2;base64,__F_MONO500__) format("woff2");font-weight:500;font-style:normal}
